@page
@model HelpModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center2">
    <h1 class="display-4"></h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p>Don't have an account with us yet? <a href="/register">Click here to get started</a>.</p>
</div>